<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>订单信息</title>
  <link rel="stylesheet" href="../../public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../../public/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../../public/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="../../public/css/admin.css">
  <script src="../../public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <script>NProgress.start()</script>

  <div class="main">

    {{include '../_partials/navbar.html'}}

    <div class="container-fluid">
      <div class="page-title">
        <h1>用户</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <!-- <div class="alert alert-danger">
        <strong>错误！</strong>发生XXX错误
      </div> -->
      <div class="row">
          <div class="page-action">
            <!-- show when multiple checked -->
            <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr>
                <th class="text-center" width="40"><input type="checkbox"></th>
                <th class="text-center" width="80">订单ID</th>
                <th>订单日期</th>
                <th>客户名称</th>
                <th>商品ID</th>
                <th>商品名称</th>
                <th>商品数量</th>
                <th>商品单价</th>
                <th>商品小结</th>
                <th>订单总计</th>
                <th class="text-center" width="100">操作</th>
              </tr>
            </thead>
            <tbody>
              {{ each data }}
                <tr>
                  <td class="text-center"><input type="checkbox"></td>
                  <td class="text-center">{{ $value.Id }}</td>
                  <td>{{ $value.OrderDate }}</td>
                  <td>{{ $value.coustom_name }}</td>
                  <td>{{ $value.BookID }}</td>
                  <td>{{ $value.Title }}</td>
                  <td>{{ $value.Quantity }}</td>
                  <td>{{ $value.book_price }}</td>
                  <td>{{ $value.book_total }}</td>
                  <td>{{ $value.TotalPrice }}</td>
                  <td class="text-center">
                    <!-- <a href="post-add.php" class="btn btn-default btn-xs">编辑</a>
                    <a href="javascript:;" class="btn btn-danger btn-xs">删除</a> -->
                  </td>
                </tr>
              {{ /each }}

            </tbody>
          </table>
      </div>
    </div>
  </div>

  {{include '../_partials/sidebar.html'}}

  <script src="../../public/vendors/jquery/jquery.js"></script>
  <script src="../../public/vendors/bootstrap/js/bootstrap.js"></script>
  <script>NProgress.done()</script>
</body>
</html>
