<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/404.css">
  <style media="screen">
    body {
    	background-image: url(../../public/images/404-wall.gif);
    }
  </style>
</head>
<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td height="50">&nbsp;</td>
    </tr>
    <tr>
      <td><div align="center"><a href="javascript: history.go(-1)"><img src="../../public/images/404.png" alt="Back to previous page..." width="650" height="442" border="0" /></a></div></td>
    </tr>
  </table>
</body>
</html>
