<div class="container">
  <div class="row">
      <div class="col-md-2">
          <a href="#" class="bs_app">
              <span></span>
              <span>网上书城</span>
          </a>
      </div>
      <div class="col-md-5">
          <span></span>
          <a href="#">捐赠图书</a>
      </div>
      <div class="col-md-2">
          <a href="#">常见问题</a>
      </div>
      <div class="col-md-3">
        {{ if user }}
         <a href="javascript:;" class="btn btn-success">欢迎你:{{ user.Name }}</a>
         <a href="web/signout" class="btn btn-danger">退出登录</a>
        {{ else }}
          <a href="web/register" class="btn btn-default btn-register">注册</a>
          <a href="web/login" class="btn btn-link btn-login">登录</a>
        {{ /if }}

      </div>
  </div>
</div>
